<a href="https://colab.research.google.com/github/Ali-mohammadi-design/Numpy_Stack/blob/main/PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("anshika2301/hr-analytics-dataset")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/anshika2301/hr-analytics-dataset?dataset_version_number=1...

100%|██████████| 209k/209k [00:00<00:00, 57.8MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/anshika2301/hr-analytics-dataset/versions/1

In [4]:
import os

# List all files in the dataset folder
files = os.listdir(path)
print("Files:", files)

Files: ['HR_Analytics.csv', 'HR Analytics Dashboard.pbix']

In [5]:
df=pd.read_csv(os.path.join(path, 'HR_Analytics.csv'))

In [6]:
df.head()

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0

In [8]:
df.tail()

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1475,RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,...,4,80,0,33,5,1,29,8,11,10.0
1476,RM428,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,...,4,80,0,22,5,4,18,13,13,11.0
1477,RM537,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,...,4,80,0,10,1,3,2,2,2,2.0
1478,RM880,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,...,2,80,1,12,3,3,11,7,1,9.0
1479,RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,...,3,80,1,19,2,4,1,0,0,0.0

In [9]:
df.head(10)

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0
5,RM973,18,18-25,No,Non-Travel,1124,Research & Development,1,3,Life Sciences,...,3,80,0,0,5,4,0,0,0,0.0
6,RM1154,18,18-25,Yes,Travel_Frequently,544,Sales,3,2,Medical,...,3,80,0,0,2,4,0,0,0,0.0
7,RM1312,18,18-25,No,Non-Travel,1431,Research & Development,14,3,Medical,...,3,80,0,0,4,1,0,0,0,0.0
8,RM128,19,18-25,Yes,Travel_Rarely,528,Sales,22,1,Marketing,...,4,80,0,0,2,2,0,0,0,0.0
9,RM150,19,18-25,No,Travel_Rarely,1181,Research & Development,3,1,Medical,...,4,80,0,1,3,3,1,0,0,0.0

**Selecting Columns**

In [10]:
df.columns

Index(['EmpID', 'Age', 'AgeGroup', 'Attrition', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'Education', 'EducationField',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'SalarySlab',
       'MonthlyRate', 'NumCompaniesWorked', 'Over18', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [11]:
df['EmpID']

0        RM297
1        RM302
2        RM458
3        RM728
4        RM829
         ...
1475     RM412
1476     RM428
1477     RM537
1478     RM880
1479    RM1210
Name: EmpID, Length: 1480, dtype: object

In [12]:
type(df['EmpID'])

pandas.core.series.Series

In [14]:
df[['EmpID','Age']]

       EmpID  Age
0      RM297   18
1      RM302   18
2      RM458   18
3      RM728   18
4      RM829   18
...      ...  ...
1475   RM412   60
1476   RM428   60
1477   RM537   60
1478   RM880   60
1479  RM1210   60

[1480 rows x 2 columns]

In [15]:
type(df[['EmpID','Age']])

pandas.core.frame.DataFrame

**Selecting Rows**

In [17]:
df.iloc[0]

EmpID                                        RM297
Age                                             18
AgeGroup                                     18-25
Attrition                                      Yes
BusinessTravel                       Travel_Rarely
DailyRate                                      230
Department                  Research & Development
DistanceFromHome                                 3
Education                                        3
EducationField                       Life Sciences
EmployeeCount                                    1
EmployeeNumber                                 405
EnvironmentSatisfaction                          3
Gender                                        Male
HourlyRate                                      54
JobInvolvement                                   3
JobLevel                                         1
JobRole                      Laboratory Technician
JobSatisfaction                                  3
MaritalStatus                               Single
MonthlyIncome                                 1420
SalarySlab                                 Upto 5k
MonthlyRate                                  25233
NumCompaniesWorked                               1
Over18                                           Y
OverTime                                        No
PercentSalaryHike                               13
PerformanceRating                                3
RelationshipSatisfaction                         3
StandardHours                                   80
StockOptionLevel                                 0
TotalWorkingYears                                0
TrainingTimesLastYear                            2
WorkLifeBalance                                  3
YearsAtCompany                                   0
YearsInCurrentRole                               0
YearsSinceLastPromotion                          0
YearsWithCurrManager                           0.0
Name: 0, dtype: object

In [18]:
df.iloc[1]

EmpID                                      RM302
Age                                           18
AgeGroup                                   18-25
Attrition                                     No
BusinessTravel                     Travel_Rarely
DailyRate                                    812
Department                                 Sales
DistanceFromHome                              10
Education                                      3
EducationField                           Medical
EmployeeCount                                  1
EmployeeNumber                               411
EnvironmentSatisfaction                        4
Gender                                    Female
HourlyRate                                    69
JobInvolvement                                 2
JobLevel                                       1
JobRole                     Sales Representative
JobSatisfaction                                3
MaritalStatus                             Single
MonthlyIncome                               1200
SalarySlab                               Upto 5k
MonthlyRate                                 9724
NumCompaniesWorked                             1
Over18                                         Y
OverTime                                      No
PercentSalaryHike                             12
PerformanceRating                              3
RelationshipSatisfaction                       1
StandardHours                                 80
StockOptionLevel                               0
TotalWorkingYears                              0
TrainingTimesLastYear                          2
WorkLifeBalance                                3
YearsAtCompany                                 0
YearsInCurrentRole                             0
YearsSinceLastPromotion                        0
YearsWithCurrManager                         0.0
Name: 1, dtype: object

In [19]:
df.iloc[0:2]

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0

In [20]:
df.iloc[6:9]

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
6,RM1154,18,18-25,Yes,Travel_Frequently,544,Sales,3,2,Medical,...,3,80,0,0,2,4,0,0,0,0.0
7,RM1312,18,18-25,No,Non-Travel,1431,Research & Development,14,3,Medical,...,3,80,0,0,4,1,0,0,0,0.0
8,RM128,19,18-25,Yes,Travel_Rarely,528,Sales,22,1,Marketing,...,4,80,0,0,2,2,0,0,0,0.0

In [21]:
df.iloc[6:23]

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
6,RM1154,18,18-25,Yes,Travel_Frequently,544,Sales,3,2,Medical,...,3,80,0,0,2,4,0,0,0,0.0
7,RM1312,18,18-25,No,Non-Travel,1431,Research & Development,14,3,Medical,...,3,80,0,0,4,1,0,0,0,0.0
8,RM128,19,18-25,Yes,Travel_Rarely,528,Sales,22,1,Marketing,...,4,80,0,0,2,2,0,0,0,0.0
9,RM150,19,18-25,No,Travel_Rarely,1181,Research & Development,3,1,Medical,...,4,80,0,1,3,3,1,0,0,0.0
10,RM172,19,18-25,Yes,Travel_Frequently,602,Sales,1,1,Technical Degree,...,1,80,0,1,5,4,0,0,0,0.0
11,RM178,19,18-25,Yes,Travel_Rarely,303,Research & Development,2,3,Life Sciences,...,3,80,0,1,3,2,1,0,1,0.0
12,RM423,19,18-25,Yes,Travel_Rarely,489,Human Resources,2,2,Technical Degree,...,3,80,0,1,3,4,1,0,0,0.0
13,RM689,19,18-25,Yes,Travel_Rarely,419,Sales,21,3,Other,...,2,80,0,1,3,4,1,0,0,0.0
14,RM854,19,18-25,No,Travel_Rarely,645,Research & Development,9,2,Life Sciences,...,3,80,0,1,4,3,1,1,0,0.0
15,RM893,19,18-25,Yes,Non-Travel,504,Research & Development,10,3,Medical,...,2,80,0,1,2,4,1,1,0,0.0
16,RM910,19,18-25,No,Travel_Rarely,265,Research & Development,25,3,Life Sciences,...,4,80,0,1,2,3,1,0,0,1.0
17,RM103,20,18-25,Yes,Travel_Frequently,871,Research & Development,6,3,Life Sciences,...,2,80,0,1,5,3,1,0,1,0.0
18,RM488,20,18-25,No,Travel_Rarely,959,Research & Development,1,3,Life Sciences,...,4,80,0,1,0,4,1,0,0,0.0
19,RM514,20,18-25,Yes,Travel_Rarely,1362,Research & Development,10,1,Medical,...,4,80,0,1,5,3,1,0,1,1.0
20,RM663,20,18-25,Yes,Travel_Rarely,500,Sales,2,3,Medical,...,4,80,0,2,3,2,2,2,0,2.0
21,RM690,20,18-25,Yes,Travel_Rarely,129,Research & Development,4,3,Technical Degree,...,2,80,0,1,2,3,1,0,0,0.0
22,RM732,20,18-25,Yes,Travel_Rarely,1097,Research & Development,11,3,Medical,...,1,80,0,1,2,3,1,0,0,0.0

**Search with specifc Index**

You can select the row with the index, if we have index in the dataframe, with .loc()

In [24]:
df2 = pd.read_csv(os.path.join(path, 'HR_Analytics.csv'), index_col='EmpID')

In [25]:
df2.head()

,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
EmpID,,,,,,,,,,,,,,,,,,,,,
RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,1,...,3,80,0,0,2,3,0,0,0,0.0
RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,1,...,1,80,0,0,2,3,0,0,0,0.0
RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,1,...,4,80,0,0,3,3,0,0,0,0.0
RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,1,...,4,80,0,0,2,3,0,0,0,0.0
RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,1,...,4,80,0,0,0,3,0,0,0,0.0

In [26]:
df2.loc['RM297']

Age                                             18
AgeGroup                                     18-25
Attrition                                      Yes
BusinessTravel                       Travel_Rarely
DailyRate                                      230
Department                  Research & Development
DistanceFromHome                                 3
Education                                        3
EducationField                       Life Sciences
EmployeeCount                                    1
EmployeeNumber                                 405
EnvironmentSatisfaction                          3
Gender                                        Male
HourlyRate                                      54
JobInvolvement                                   3
JobLevel                                         1
JobRole                      Laboratory Technician
JobSatisfaction                                  3
MaritalStatus                               Single
MonthlyIncome                                 1420
SalarySlab                                 Upto 5k
MonthlyRate                                  25233
NumCompaniesWorked                               1
Over18                                           Y
OverTime                                        No
PercentSalaryHike                               13
PerformanceRating                                3
RelationshipSatisfaction                         3
StandardHours                                   80
StockOptionLevel                                 0
TotalWorkingYears                                0
TrainingTimesLastYear                            2
WorkLifeBalance                                  3
YearsAtCompany                                   0
YearsInCurrentRole                               0
YearsSinceLastPromotion                          0
YearsWithCurrManager                           0.0
Name: RM297, dtype: object

In [27]:
type(df2.loc['RM297'])

pandas.core.series.Series

In [28]:
df2.loc[['RM297',"RM298"]]

,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
EmpID,,,,,,,,,,,,,,,,,,,,,
RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,1,...,3,80,0,0,2,3,0,0,0,0.0
RM298,35,26-35,No,Travel_Rarely,1232,Sales,16,3,Marketing,1,...,3,80,2,12,3,2,11,9,6,9.0

In [29]:
type(df2.loc[['RM297',"RM298"]])

pandas.core.frame.DataFrame

Pandas is also good with Boleans!!

In [33]:
df2[df2['age']>24]

KeyError: 'age'

Note: We can change the column names

In [32]:
df2.columns

Index(['Age', 'AgeGroup', 'Attrition', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'Education', 'EducationField',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'SalarySlab',
       'MonthlyRate', 'NumCompaniesWorked', 'Over18', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [34]:
df2.columns=['age', 'AgeGroup', 'Attrition', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'Education', 'EducationField',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'SalarySlab',
       'MonthlyRate', 'NumCompaniesWorked', 'Over18', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager']

In [35]:
df2.columns

Index(['age', 'AgeGroup', 'Attrition', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'Education', 'EducationField',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'SalarySlab',
       'MonthlyRate', 'NumCompaniesWorked', 'Over18', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [36]:
df2[df2['age']>24]

,age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
EmpID,,,,,,,,,,,,,,,,,,,,,
RM108,25,18-25,Yes,Travel_Rarely,240,Sales,5,3,Marketing,1,...,4,80,0,6,1,3,6,4,0,3.0
RM109,25,18-25,No,Travel_Rarely,1280,Research & Development,7,1,Medical,1,...,3,80,2,2,2,3,2,2,2,1.0
RM139,25,18-25,No,Travel_Rarely,959,Sales,28,3,Life Sciences,1,...,4,80,0,6,3,3,2,2,2,NaN
RM256,25,18-25,No,Travel_Rarely,685,Research & Development,1,3,Life Sciences,1,...,4,80,2,5,3,3,4,2,1,NaN
RM268,25,18-25,No,Non-Travel,675,Research & Development,5,2,Life Sciences,1,...,4,80,2,6,2,3,6,3,1,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,1,...,4,80,0,33,5,1,29,8,11,10.0
RM428,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,1,...,4,80,0,22,5,4,18,13,13,11.0
RM537,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,1,...,4,80,0,10,1,3,2,2,2,2.0
RM880,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,1,...,2,80,1,12,3,3,11,7,1,9.0
RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,1,...,3,80,1,19,2,4,1,0,0,0.0

In [37]:
df2[df2['EducationField']!='Marketing']

,age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
EmpID,,,,,,,,,,,,,,,,,,,,,
RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,1,...,3,80,0,0,2,3,0,0,0,0.0
RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,1,...,1,80,0,0,2,3,0,0,0,0.0
RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,1,...,4,80,0,0,2,3,0,0,0,0.0
RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,1,...,4,80,0,0,0,3,0,0,0,0.0
RM973,18,18-25,No,Non-Travel,1124,Research & Development,1,3,Life Sciences,1,...,3,80,0,0,5,4,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
RM759,59,55+,No,Travel_Rarely,1089,Sales,1,2,Technical Degree,1,...,3,80,1,14,1,1,6,4,0,4.0
RM898,59,55+,No,Travel_Rarely,326,Sales,3,3,Life Sciences,1,...,4,80,0,13,2,3,6,1,0,5.0
RM920,59,55+,No,Travel_Rarely,1429,Research & Development,18,4,Medical,1,...,4,80,0,25,6,2,9,7,5,4.0
RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,1,...,4,80,0,33,5,1,29,8,11,10.0
RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,1,...,3,80,1,19,2,4,1,0,0,0.0

In [41]:
df2[(df2['EducationField'] != 'Marketing') & (df2['EducationField'] != 'Medical')]

,age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
EmpID,,,,,,,,,,,,,,,,,,,,,
RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,1,...,3,80,0,0,2,3,0,0,0,0.0
RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,1,...,4,80,0,0,2,3,0,0,0,0.0
RM973,18,18-25,No,Non-Travel,1124,Research & Development,1,3,Life Sciences,1,...,3,80,0,0,5,4,0,0,0,0.0
RM172,19,18-25,Yes,Travel_Frequently,602,Sales,1,1,Technical Degree,1,...,1,80,0,1,5,4,0,0,0,0.0
RM178,19,18-25,Yes,Travel_Rarely,303,Research & Development,2,3,Life Sciences,1,...,3,80,0,1,3,2,1,0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
RM226,59,55+,No,Travel_Rarely,142,Research & Development,3,3,Life Sciences,1,...,1,80,1,7,6,3,1,0,0,0.0
RM744,59,55+,No,Travel_Rarely,715,Research & Development,2,3,Life Sciences,1,...,1,80,0,30,4,3,5,3,4,3.0
RM759,59,55+,No,Travel_Rarely,1089,Sales,1,2,Technical Degree,1,...,3,80,1,14,1,1,6,4,0,4.0
RM898,59,55+,No,Travel_Rarely,326,Sales,3,3,Life Sciences,1,...,4,80,0,13,2,3,6,1,0,5.0
RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,1,...,4,80,0,33,5,1,29,8,11,10.0

In Pandas we can also transfer a part of dataframe to excel

In [42]:
df2[(df2['EducationField'] != 'Marketing') & (df2['EducationField'] != 'Medical')].iloc[0:5]

,age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
EmpID,,,,,,,,,,,,,,,,,,,,,
RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,1,...,3,80,0,0,2,3,0,0,0,0.0
RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,1,...,4,80,0,0,2,3,0,0,0,0.0
RM973,18,18-25,No,Non-Travel,1124,Research & Development,1,3,Life Sciences,1,...,3,80,0,0,5,4,0,0,0,0.0
RM172,19,18-25,Yes,Travel_Frequently,602,Sales,1,1,Technical Degree,1,...,1,80,0,1,5,4,0,0,0,0.0
RM178,19,18-25,Yes,Travel_Rarely,303,Research & Development,2,3,Life Sciences,1,...,3,80,0,1,3,2,1,0,1,0.0

In [43]:
smalldf=df2[(df2['EducationField'] != 'Marketing') & (df2['EducationField'] != 'Medical')].iloc[0:5]

In [46]:
smalldf.to_csv('out_small_df2.csv')